body{
    margin: 0;
    padding: 0;

}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgb(168, 111, 142);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 6px rgb(168, 111, 142);
}

/* overrite this if you want to change size of logo */
.logo{
width: 200px;
height: 150px;
}

*{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 26px;
}

button{
    padding: 0.3rem;
    font-size: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}