html,body{
    background-color: #18191a;
    height: 100vh;
}

/* #18191a */
h1,p{
    color:white !important;
}


.wrapper_main{
   display: flex;
   justify-content: space-between;
   background-color: rgb(36, 37, 38);
}

.wrapper_content{
    float: left;
    width: 70%;
    z-index: 1;
}

.wrapper_photos{
    width: 30%;
}

.wrapper_parallel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_left{
    flex: 1;
    text-align: center;
}

.photo_war2 img {
    float: right;

}
.chose_register_or_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chose_register_or_login button{
    margin: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

button{

    border: 1px solid black;
    background-color: rgb(168, 111, 142);
}

.set_to_center{
    text-align: center;
}


#train {
    position: relative;
    cursor: pointer;

    width: 50px !important;
    height: 50px !important;
}

 
button > a{
    text-decoration: none;
    color: white;
}

button > a:hover{
    text-decoration: none;
    color: rgb(36, 37, 38);
}

.background-hack{
    /*i must do it bcs thus php is shit*/
    background-color: rgb(36, 37, 38) !important;
}

.about *{
    color: white;
    text-align: center;
}

.about input,textarea{
    color: black !important;
}

.contact{
    margin-top: 5rem;
}
.contact *{
    color: white;
    text-align: center;
}

.contact input,textarea{
    color: black !important;
}

.flex_with_picture{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}
.flex_with_picture :nth-child(1){
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: left;
    max-width: 80%;
}

.max_size{
    max-width: 80%;
margin: 0 auto;
}