.for_photo img{
    width: 300px;
    height: 300px;
}

.user_h3{
    margin-left: 2rem;
}

.date_h3{
    margin-right: 2rem;
}

.comments input{
    font-size: 20px;
    color: white;
    background-color: #18191a;
    width: 50%;
    border: none !important;
    margin-bottom: 0.6rem;
}

.button_for_comment{
    background-color: #18191a;
    color: white;
}

.button_for_buy{
    color: white;
    background-color: rgb(168, 111, 142);
}



/*.header_with_icon{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

